:root {
  --text-color: hsl(193, 38%, 86%);
  --contrast-color: hsl(150, 100%, 66%);
  --bg-card: hsl(217, 19%, 24%);
  --bg-page: hsl(218, 23%, 16%);
}

body {
  font-family: 'Manrope', serif;
  background-color: var(--bg-page);
  font-weight: 800;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.card {
  background-color: var(--bg-card);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 500px;
  height: 250px;
  text-align: center;
}

.card h2 {
  color: var(--contrast-color);
  font-size: 1rem;
  margin-bottom: 20px;
}

.card p {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-btn .divider {
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrast-color);
  border: none;
  border-radius: 50%;
  color: var(--bg-page);
  cursor: pointer;
  padding: 10px 20px;
  width: 50px;
  height: 50px;
}
